<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<RollingFile name="LogToRollingFile"
			fileName="/mnt/k8s/log/ConferenceScheduler.log"
			filePattern="/mnt/k8s/log/$${date:yyyy-MM}/bookworm-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="com.n11" level="debug"
			additivity="false">
			<AppenderRef ref="LogToRollingFile" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToRollingFile" />
		</Root>
	</Loggers>
</Configuration>